RewriteEngine on

RewriteRule ^api/$ api/main/home [QSA]
RewriteRule ^api/(.*)$ index.php?api=$1 [END,PT,QSA]

# This is not right. You should detect 404
# Deprecated?
RewriteRule ^ejs/(.*)$ $0 [END,QSA]
RewriteRule ^js/(.*)$ $0 [END,QSA]
RewriteRule ^images/(.*)$ $0 [END,QSA]
RewriteRule ^css/(.*)$ $0 [END,QSA]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ engine/hotstart.php?url=$1 [END,PT,QSA]