				<div  class = 'footer', id = 'footer'>	
					<p> Данный сайт носит исключительно информационный характер и ни при каких обстоятельствах не является публичной офертой , определяемой положениями Статьи 437 Гражданского кодекса РФ ©Exsul 2013</p>
				</div>