<!--
include_once 'tools/dataBase.php';
include_once 'cap.php';
include_once 'main_table.php';
include_once 'body_table.php';
-->
<div class='to_head'>
	<meta http-equiv='content-type' content='text/html; charset=utf-8' />		
	
	<link rel='stylesheet' href='style/main.css' type='text/css'>	
	<link rel='stylesheet' href='style/cap.css' type='text/css'>
	<link rel='stylesheet' href='style/body.css' type='text/css'>
	
	<link rel='stylesheet' href='style/loader.css' type='text/css'>
		
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet"> 
	<require src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></require> 
	
	<require type='text/javascript' src='/tools/upload.js'></require>
</div>

<%
debugger;
this.escape().recursive++; // forcing wait for script load
this.first(function()
{
  var scripts = [];
  this.find('require').detach().each(function()
  {
  	scripts.push($(this).attr('src'));
  });
  phoxy.Log(4, "Head require", scripts);
  require(scripts, function() 
  {
    phoxy.Log(3, "Head scripts loaded");
    __context.escape().CheckIsCompleted.call(__context);
  });

  var element = this.first().detach();
  $('head').append(element);
})
%>