<!--
<table class = 'menu_table'>	
	<tr>
		<td>
			<div class='menu_div'><a href='#printabu' class='menu_link'>О нас</a></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='menu_div'><a href='#delivery' class='menu_link'>Доставка</a></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='menu_div'><a href='#contacts' class='menu_link'>Контакты</a></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='menu_div'><a href='#faq' class='menu_link'>FAQ</a></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='menu_div'><a href='#builder' class='menu_link'>Конструктор</a></div>
		</td>
	</tr>

</table>
-->