<div id='cssmenu'>
<ul>
	<li class = 'menu_top_list_el'><a href='#d812' class='menu_link_top'>Главная</a></li>
	<li class = 'menu_top_list_el'><a href='#about' class='menu_link_top'>О нас</a></li>
	<li class = 'menu_top_list_el'><a href='#contacts' class='menu_link_top'>Контакты</a></li>	
	<li class = 'menu_top_list_el'><a href='#catalog' class='menu_link_top'>Каталог</a></li>
	<li class = 'menu_top_list_el'><a href='#delivery' class='menu_link_top'>Доставка</a></li>
	<li class = 'menu_top_list_el'><a href='#warranty' class='menu_link_top'>Гарантия</a></li>
	<!--
	<li class = 'menu_top_list_el'><a href='#warranty' class='price'>Прайс</a></li>
	
	<li class = 'menu_top_list_el'><a href='#news' class='menu_link_top'>Новости</a></li>
	<li class = 'menu_top_list_el'><a href='#sales' class='menu_link_top'>Акции</a></li>
	<li class = 'menu_top_list_el'><a href='#registration' class='menu_link_top'>Reg</a></li>
	<li class = 'menu_top_list_el'><a href='#faq' class='menu_link_top'>FAQ</a></li>
	<li class = 'menu_top_list_el'><a href='#category/add?st=1913&fin=2042' class='menu_link_top'>add category</a></li>
	-->
</ul>
</div>