<h1>О нас</h1>
<p class = "content_text">Начиная с 2008 года, наша команда занималась оптовыми поставками мобильных телефонов, планшетных компьютеров, ноутбуков и другой цифровой техники в Санкт-Петербург. Мы снабжали товаром многие известные и популярные среди жителей нашего любимого города Интернет-магазины, постоянно поддерживая высокий ассортимент предлагаемой продукции в совокупности с лучшими ценами.</p>
<p class = "content_text">В 2010 году мы открыли свой собственный Интернет-магазин Digital812. С момента открытия мы старались сделать так что бы наши клиенты всегда оставались довольны ценовой политикой магазина, уровнем сервиса и гарантийного обслуживания.</p>
<p class = "content_text">С 2013 года Интернет-магазин Digital812 доставляет товары в более 100 городов России, постоянно увеличивая их количество за счёт привлечения различных служб доставки и открытия собственных представительств.</p>

<h2>&nbsp;Наши клиенты ценят нас по следующим причинам:</h2>
<ol class = "content_text_list">
<li class = "content_text">Digital812 предлагает только оригинальную цифровую технику ведущих мировых брендов.</li>
<li class = "content_text">&nbsp;В Интернет-магазине Digital812 продается только тот товар, который есть в наличии на собственном складе. Мы не продаём "воздух".</li>
<li class = "content_text">Все без исключения товары обеспечиваются гарантией. Мы предоставляем нашим клиентам быстрый и качественный гарантийный сервис.&nbsp;</li>
<li class = "content_text">Digital812 это реальный Интернет-магазин с физическим адресом, а не фантом.</li>
<li class = "content_text">На нашем сайте Вам представлена полная информация о реализуемых в Digital812 товарах.</li>
<li class = "content_text">Имея большой опыт оптовой торговли мы предлагаем нашим покупателям представленные в Интернет-магазине Digital812 товары по доступным ценам.</li>
<li class = "content_text">Для наших постоянных клиентов мы разработали специальные клубные карты. Они позволят покупать технику в Digital812 по ещё более низким ценам, а также получать бонусы и подарки.&nbsp;</li>
<li class = "content_text">Мы предлагаем Вам несколько способов оплаты товаров на выбор.</li>
</ol>