<ul class = "menu_top_list">
	
	<li class = "menu_top_list_el">
	<div class = "catalog_elem">
		<a href = '#catalog/show?category=APPLE'>
			<img src = 'img/brand/1.jpg' class = 'catalog_brand'>
		</a>
		</div>
	</li>
	<li class = "menu_top_list_el">
	<div class = "catalog_elem">
		<a href = '#catalog/show?category=ASUS'>
			<img src = 'img/brand/2.png' class = 'catalog_brand'>
		</a>
	</div>
	</li>
	<li class = "menu_top_list_el">
	<div class = "catalog_elem">
		<a href = '#catalog/show?category=SONY'>
			<img src = 'img/brand/3.png' class = 'catalog_brand'>
		</a>
	</div>
	</li>
	<li class = "menu_top_list_el">
	<div class = "catalog_elem">
		<a href = '#catalog/show?category=LG'>
			<img src = 'img/brand/4.jpg' class = 'catalog_brand'>
		</a>
	</div>
	</li>
	<li class = "menu_top_list_el">
	<div class = "catalog_elem">
		<a href = '#catalog/show?category=SAMSUNG'>
			<img src = 'img/brand/5.png' class = 'catalog_brand'>
		</a>
	</div>
	</li>
</ul>