<div class='fotorama' id = 'fotorama' data-autoplay="5000">    
	<img src="/img/carousel/1.jpg">
	<img src="/img/carousel/2.jpg">
	<img src="/img/carousel/3.jpg">
	</div>
<button id = "asdasd">

<H3>Лучшие покупки:<H3>

<ul class = "menu_top_list">
<%
for (var i in this.items)
{
	var it = this.items[i];
	
	%>
	<li class = "menu_top_list_el"><%= this.DeferRender("catalog_elem", {item:it, num:i, img:this.img}) %></li>
	<%
}
%>
</ul>

<%
this.first(function()
{
  var $fotoramaDiv = $('#fotorama').fotorama();
});
%>
