<h1>Доставка</h1>

<p>Мы доставляем товар по Санкт-Петербургу и Ленинградской области.</p>

<p>Доставка осуществляется по рабочим дням с 11-00 до 21-00 по Санкт-Петербургу в пределах КАД.</p>

<p>По доставке в пригороды можно проконсультироваться у менеджера магазина. Если требования к доставке вышли за рамки стандартных, сообщите об этом в комментарии заказа или по телефону. Мы обязательно предложим оптимальное решение.</p>

<p>В случае отказа от покупки в момент получения, Вам необходимо будет оплатить стоимость доставки (на основании п.3 ст. 497 ГК РФ).</p>

<p>При подтверждении заказа, наш оператор обязательно согласует с Вами по телефону точные время и стоимость доставки товара. </p>

<h3>Доставка</h3>
<ul class = 'content_text_list'>
<li>300 руб. - (зона 1) г. Санкт-Петербург (не более 2 км от метро, весом не более 5 кг)</li>
<li>400 руб. - (зона 2) г. Санкт-Петербург (более 2 км от метро, весом не более 5 кг)</li>
<li>500 руб. - (зона 3) г. Санкт-Петербург (Авиагородок, Бугры, Колтуши, Лахта-Ольгино, Лигово, Мурино, Обухово, Петергофское шоссе, Пулково, Ржевка, Рыбацкое, Сертолово, Сосновая поляна, Ульянка, Шувалово, Шушары) 700 руб. - (зона 4) г. Санкт-Петербург (Всеволожск, Горелово, Колпино, Красное село, Левашово, Лисий Нос, Металлострой, Павловск, Парголово, Парнас, Песочный, Петродворец, Пушкин, Сестрорецк, Стрельна, Токсово, Усть-Ижора) 1200 руб. - (зона 5) г. Санкт-Петербург (Гатчина, Зеленогорск, Кировск, Кронштадт, Ломоносов, Тосно, Шлиссельбург) </li>
<li>700 руб. - (зона 4) Ленинградская область (Всеволожск, Горелово, Колпино, Красное село, Левашово, Лисий Нос, Металлострой, Павловск, Парголово, Парнас, Песочный, Петродворец, Пушкин, Сестрорецк, Стрельна, Токсово, Усть-Ижора) 1200 руб. - (зона 5) г. Санкт-Петербург (Гатчина, Зеленогорск, Кировск, Кронштадт, Ломоносов, Тосно, Шлиссельбург) </li>
<li>1200 руб. - (зона 5)Ленинградская область (Гатчина, Зеленогорск, Кировск, Кронштадт, Ломоносов, Тосно, Шлиссельбург) </li>