	<p class = 'content_text'> В современном мире все большее и большее влияние занимает дизайн, и это вполне понятно, ведь внешний вид
	– это то, что формирует первое впечатление о человеке. И если поменять одежду под свой вкус вполне можно, то что делать с той кипой 
	пластиковых карточек, которые есть у каждого и зачастую сделаны безвкусно? А если фотография на БСК, пропуске или проездном не удалась? 
	Начала отклеиваться защитная пленка или, хуже того, царапаться и стираться нужная информация? Или, как в некоторых местах, 
	вам выдали просто белую карточку?
	</p>
	<p class='content_text'> До недавнего времени у вас не было возможности что-либо изменить, 
	но сейчас мы рады предоставить вам новую услугу – печать наклеек на карточки!
	</p>
	<p class='content_text'>Зачем это нужно?</p>
	<ul class='content_list'>
		<li>Индивидуальный дизайн по вашему вкусу</li>
		<li>Наклейка легко удаляется и не оставляет следов</li>
		<li>Защита карточки от повреждений</li>
		<li>Наклейки на матовой / глянцевой бумаге или на прозрачной пленке!</li>
		<li>Больше не нужно краснеть за плохую фотографию!</li>
		<li>Не нужно мучительно вспоминать откуда взялась карточка</li>
		<li>Вся информация надежно сохранится на карточке</li>
	</ul>