<h1>Сервис</h1>

<p>
Покупка нового смартфона или планшета всегда волнительно. Каждый, наверняка, тщательно выбирает гаджет для своих нужд и под свои требования. Кому-то важно, чтоб девайс работал долго без подзарядки, а кто-то на первое место ставит качественный дисплей и быструю начинку. Тем не менее, абсолютно все пользователи хотят, чтоб их устройство проработало как можно дольше без поломок и ремонтов.
</p>
Если же вас постигла беда и аппарат работает не корректно, мы предлагаем свои услуги по гарантийному обслуживанию. Также если срок гарантии истек, но ваше устройство нуждается в ремонте или диагностике, можете обращаться в наш магазин. Наши мастера быстро выявят и устранят любую неисправность. Диагностика смартфона или планшета проводится бесплатно.
<p>
Обратившись к нам, вы получаете следующие преимущества:
</p>
<ul>
	<li>Бесплатная диагностика</li>

	<li>Качественные материалы и комплектующие</li>

	<li>Короткие сроки ремонта</li>

	<li>Низкие цены</li>
</ul>
<p>
 Кроме того, мы готовы помочь вам перепрошить смартфон/планшет, русифицировать, установить все нужные программы и настроить смартфон/планшет для комфортной работы.
 </p>