<h1>Гарантия</h1>

<p>Наш магазин занимается реализацией как продукции имеющей Российскую Сертификацию (РСТ или ЕАС), так и товарами прошедшими Европейскую Сертификацию.</p>

<p>Гарантийное обслуживание товаров с Российской Сертификацией осуществляется через авторизированные сервисные центры производителя. При отсутствии соответствующего сервисного центра гарантийное обслуживание осуществляет Продавец. Актуальный список авторизованных сервисных центров всегда размещён на официальном сайте производителя.</p>

<p>Возврат или обмен товаров осуществляется в установленном Законодательством Российской Федерации порядке. Возврат товара возможен в случае, если товар не был в эксплуатации, сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. </p>

<p>Гарантийное обслуживание товаров с Европейской Сертификацией осуществляет Сервисный центр: «МультиСервис» СПб, ул. Боровая, 6 Режим работы: ПН-ПТ с 10.00 до 20.00, СБ с11.00 до 19.00, ВС – выходной. </p>



<h3>Условия гарантии.</h3>
<ul class = 'content_text_list'>
<li>Общие положения:</li>
<ul>
<li>Гарантийный срок начинается с момента покупки изделия первым (конечным) пользователем. Изделие может состоять из нескольких частей, причем для различных частей может быть установлен различный гарантийный срок.</li>

<li>Согласно Закону «О защите прав потребителей, при обнаружении в товаре неисправности (недостатка) бесплатный ремонт осуществляется в течение установленного гарантийного срока только в авторизованных сервисных центрах (список адресов уполномоченных сервисных центров передается при продаже товара), при этом срок ремонта не может превышать 45 дней, а срок проведения проверки качества товара не может превышать 20 дней. Срок гарантии считается продленным на время нахождения товара в гарантийном ремонте и подтверждается соответствующей квитанцией сервисного центра.</li>
</ul>
<li>Гарантийные обязательства действительны при соблюдении следующих условий:</li>
<ul>
<li>Товар должен использоваться в соответствии с установленными правилами эксплуатации, согласно действующим техническим стандартам и требованиям безопасности.</li>

<li>Наличие полностью заполненного гарантийного талона без исправлений и дополнений с указанием ФИО продавца и покупателя.</li>
</ul>
<li>Гарантийные обязательства не распространяется на:</li>
<ul>
<li>а) нормальный износ (включая, в частности, износ линз фотокамеры, аккумуляторов или дисплеев), б) дефекты, вызванные неосторожным обращением (включая, в частности, дефекту, причинённые острыми предметами, сгибанием, сжатием, падением и т.п.), или в) дефекты или повреждения, вызванные ненадлежащим использованием изделия.</li>

<li>На аксессуары, поставляемые в комплекте с изделием: соединительные кабели, переходники, наушники, устройства «Хендс-фри», носители информации различных типов, чехлы, шнуры для переноски аккумуляторных батарей, блоков питания.</li>

<li>На дефекты или предполагаемые дефекты, вызванные использованием изделия совместно или в соединении с любыми изделиями, принадлежностями, программным обеспечением и (или) в рамках услуг, которые не поставляются производителем или использованием товара не по назначению. Такие дефекты могут быть вызваны вирусами вследствие несанкционированного доступа со стороны пользователя и (или) со стороны третьего лица к услугам, другим учетным записям, компьютерным системам или сетям. Несанкционированный доступ может осуществляться посредством взлома, подбора пароля или целого набора других средств.</li>

<li>На дефекты, вызванные коротким замыканием аккумулятора, нарушением изоляции аккумуляторного отделения или элементов питания, в том числе при наличии признаков манипуляции с ними, а также в случае, если аккумулятор использовался не в том оборудовании, для которого он предназначен.</li>

<li>Если товар был вскрыт, изменен или отремонтирован иным лицом, помимо уполномоченной организации.</li>

<li>Если товар подвергся воздействию влаги, сырости, экстремальных температурных условий или окружающей среды (либо в случае резкого изменения таких условий), коррозии, окисления, попадания пищи или жидкости, а также воздействию химикатов.</li>

<li>Когда повреждение или неисправность изделия вызваны природными явлениями, механическим повреждением, неправильной транспортировкой, по вине животных, насекомых.</li>

<li>На услуги, предоставляемые операторами связи, связанные с использованием интернет-трафика.</li>

<li>На услуги, связанные с настройкой пользовательских функций изделия.</li>

<li>На изделие, при несоблюдении правил ухода и хранения (следы удара, трещины в корпусе, искривления корпуса и пр.).</li>

<li>На дефекты работы датчиков, сенсоров, биометрических сенсоров, встроенных фотокамер, линз, связанных с повреждением их внешней поверхности (наличие царапин, трещин, сколов и пр.).</li>
</ul>
</ul>

<!--
<h2>&nbsp;Информация о гарантии:</h2>
<ul>
<li>Все товары, продаваемые в Интернет-магазине Digital812, имеют Европейскую сертификацию.</li>
<li>Гарантийное обслуживание осуществляется в уполномоченном сервисном центре. Адрес сервисного центра указан в гарантийном талоне.</li>
<li>В случае возникновения неисправности, в течении всего срока гарантийного обслуживания, она (неисправность) устраняется бесплатно, при соблюдении условий эксплуатации устройства.&nbsp;</li>
<li>Номер для сервисного обслуживания и по всем вопросам ремонта: <strong>89013010069 </strong></li>
</ul>
<h2>Важно помнить что:</h2>
<ol>
<li>Гарантийный срок составляет 1 год со дня продажи, указанной в гарантийном талоне.</li>
<li>В течение гарантийного срока производится бесплатный ремонт телефона, при условии соблюдения потребителем условий эксплуатации и хранения. Для комплектующих и аксессуаров срок гарантии составляет 14 дней со дня продажи.</li>
<li>Гарантия не распространяется на комплектующие, имеющие ограниченный срок использования, а также на информацию, записанную в память телефона, SIM-карты или иных носителей информации, использующихся при эксплуатации телефона.</li>
<li>Телефонные аппараты надлежащего качества не подлежат возврату или обмену.(Постановление Правительства РФ № 55 от 19.01.1998 в ред. Постановлений Правительства РФ от 20.10.1998 N 1222, от 06.02.2002 N 81).</li>
<li>Мобильные телефоны и планшеты имеют сертификацию Евротест.</li>
</ol>
<h2>Гарантия считается недействительной в следующих случаях:</h2>
<ol>
<li>При отсутствии на гарантийном талоне подписей клиента, продавца и/или печати магазина.</li>
<li>При обнаружении механических повреждений или повреждений, вызванных несоблюдением требований хранения или правил эксплуатации телефона (следы ударов, трещины в корпусе, царапины, искривление корпуса из-за перегрева, следы повреждения жидкостями, выдавливание жидкокристаллического дисплея, деформация антенны и пр.)</li>
<li>При наличии следов вскрытия и/или нарушении заводских пломб сохранности.</li>
<li>При поломке аппарата, в связи с использованием аксессуаров или комплектующих, не одобренных предприятием- изготовителем или торгующей организацией.</li>
<li>При повреждениях изделия, вызванных стихией, пожаром, бытовыми факторами и прочими форс-мажорными обстоятельствами, а также действиями третьих лиц.</li>
</ol>
-->